<h2>Reset Password</h2>

<div class='manage-tbl'>
  <form action="/users/reset_password/-1" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <table>
      <tr>
        <td align='right'>
        <label>Email</label>
        </td>
        <td style="text-align: left;">
          <input id="task_email" type="text" size="30" name="task[email]"></input>
        </td>
      </tr>
      <tr>
        <td colspan=2 style="text-align:right;">
          <input id="task_submit" name="commit" type="submit" value="Reset Password" />
        </td>
      </tr>
    </table>
  </form>
</div>
<br/>
